body {
  font-family: sans-serif;
}

.board button {
  width: 100px;
  height: 100px;
  background-color: gray;
  margin: 1px;
  border-radius: 50%;
  border: 2px solid;

}

tr td {
  border: 2px black solid;
}

.reset {
  height: 50px;
  width: 800px;
  border: 1px black solid;
  color: white;
  background-color: black
}
